<div class="collapse collapse-arrow bg-info text-info-content">
  <input type="checkbox" />
  <div class="collapse-title font-bold text-indigo-900">
    <slot name="title">Tl;DR (Summary)</slot>
  </div>
  <div class="collapse-content">
    <slot />
  </div>
</div>
