---
import { Github } from "lucide-astro";
---

<footer class="pt-scroll pb-6 text-center">
  <p class="my-0">[This space intentionally left blank]</p>
  <p class="italic my-0">
    Every article is padded so you can maintain a consistent eye level while
    reading.
  </p>

  <div class="divider"></div>

  <p class="my-0">
    <a
      href="https://github.com/ByteAtATime/evm.guide"
      target="_blank"
      class="flex gap-x-1 justify-center"
    >
      Find this site on GitHub <Github />
    </a>
  </p>
</footer>
